API_BASE_URL=http://127.0.0.1:4000
NEXT_PUBLIC_API_BASE_URL=

ODDS_API_KEY=
VALUE_ENGINE_URL=http://127.0.0.1:8001

SEASON_FEED_URL=
SEASON_FEED_TOKEN=
SEASON_CONTEXT_FEED_URL=
SEASON_FEED_STALE_MINUTES=180

OWNER_EMAIL=
OWNER_PASSWORD=
AUTH_SECRET=